*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Plain Light";
}
html , body {
    height: 100%;
    width: 100%;
}
#cursor{
    position: fixed;
    width: 2.9vw;
    height: 2.9vw;
    border-radius: 50%;
    border: 1.5px solid #ddddddba;
    z-index: 999;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
}
#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999;
    background-color: #070707;
    padding: 15vh 7vw;
    line-height: 8.5vw;
}
.line {
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
#line1-part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding-bottom: 30px;
}
#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 100;
}
#line1-part1 h5 {
    width: 6.5vw;
    text-align: right;
}
.line h1 {
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 800;
}
.line h2 {
    font-size: 7vw;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 800;
    opacity: 0;
    animation: 1.5s infinite;
    height:10vw;
}
@keyframes loaderAnime {
    0%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px  #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px  #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}
#main {
    position: relative;
    background-color: #030303;
}
#page1 {
    height: 100vh;
    width: 100%;
    background-color: #151515;
}
#page1 #nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.3vw 8.5vw;
}
#nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
#nav-part2 h4 {
    font-size: 1.2vw;
    font-weight: 500;
}
.hero {
    /* background-color: red; */
    width: 72%;
    margin-left: 28%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.hero:nth-child(2){
    margin-top: 10vh;
}
.hero h1{
    font-size: 7.5vw;
     text-transform: uppercase;
     font-weight: 600;
    line-height: 7.5vw;
}
#hero3 h2 {
    font-size: 7.5vw;
     text-transform: uppercase;
     font-weight: 600;
    line-height: 7.5vw;
    position: relative;
    z-index: 99999;
}
#hero3 h2:hover  {
    -webkit-text-stroke: 1px #fff;
    color:transparent;
    font-weight: 300;
}